@import "compass/css3/transition";
@import "compass/css3/border-radius";

/*
  Colours
*/
$lsd-blue: #009ad5;
$lsd-yellow: #fdda00;
$lsd-red: #ea0005;

/*
  Styling
*/
body {
  background: #fff;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

@include respond("min-width: 600px") {
  #background {
    background: url('../images/backgrounds/wingsuitrodeo.jpg');
  }
}

#wrapper {
  height: 100%;
  margin: 0 auto;
}

#header, #content, #footer {
  @include row;

  &>div {
    @include column(12);
  }
}

#content, #footer {
  &>div {
    padding: 10px;
  }
}

$logo-size: 360px;
$menu-width: 200px;

#header {
  padding-top: 10px;

  img {
    width: $logo-size;
  }

  #logo {
    float: left;
  }

  #menu {
    float: right;
    text-align: right;

    .control {
      display: none;
    }
  }

  #menu_items {
    margin-top: 10px;
  }

  li {
    a {
      display: inline-block;
      width: $menu-width;
      background-color: #eee;
      padding: 5px 10px 5px 0;
      color: #000;
      text-transform: uppercase;
      border-right: solid 2px #000;

      @include transition(0.2s border-right, 0.2s color, 0.2s background-color);

      &:hover {
        background-color: $lsd-blue;
        border-right: solid 10px #000;
      }

      &:active {
        background-color: darken($lsd-blue, 20%);
        color: #fff;
      }
    }

    &.active {
      a {
        background-color: lighten($lsd-yellow, 20%);
      }
    }
  }

  @include clearfix;
}

// Mobile menu
@include respond("max-width: #{$menu-width + $logo-size + 100px}") {
  #logo, #menu {
    float: none !important;
  }

  #menu {
    li {
      display: inline-block;
      width: 100%;

      a {
        display: inline-block;
        width: 100%;
        padding: 10px;
        background-color: #ccc;
      }
    }

    .control {
      display: block !important;
      margin-bottom: -10px;

      a {
        background-color: #ccc;
        font-weight: bold;

        &:hover {
          background-color: #ccc;
        }
      }
    }
  }

  #menu_items {
    display: none;
  }
}

@include respond("min-width: #{$menu-width + $logo-size + 100px}") {
  #menu_items {
    display: block !important;
  }
}

#content {
  background: rgba(255, 255, 255, 0.75);
  //@include border-radius(15px);
  border: solid 2px #444;

  div {
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

#footer {
  text-align: center;

  p {
    font-size: 0.75em;
  }

  a {
    text-decoration: underline;
  }

  p, a {
    color: #333;
  }
}

/*
  Background
*/
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;

  background-size: cover;
}

.activebg {
  //  z-index: -9;
}