#events
  %h2
    Events

  %p
    Come down and meet us at
    = link_to 'The Library Pub (Upstairs)', 'http://www.thelibraryleeds.co.uk/'
    most weeks during term time!

  %ul#events-list
    -# Only display events if we have them!
    - unless @events.empty?
      - @events.each do |event|
        = render 'event', event: event
    - else
      %p
        There are no upcoming events to display at this time... sorry!
