#events
  %h2
    Events

  %p
    On top of these events, we have socials most weeks in term time at
    = succeed '.' do
      = link_to 'The Library Pub (Upstairs)', 'http://www.thelibraryleeds.co.uk/'
    Find out when on our
    = link_to 'Facebook group', 'https://www.facebook.com/groups/shockabrah/'
    then come down and say hi!

  %ul#events-list
    -# Only display events if we have them!
    - unless @events.empty?
      - @events.each do |event|
        = render 'event', event: event
    - else
      %p
        There are no upcoming events to display at this time... sorry!
