/*
 * Events
 */


#events
  h2
    margin-top: 0

  &> p
    border-bottom: solid 0.2em #ccc
    padding-bottom: 1.5em
    margin: 1em 0 1.3em 0

#events-list
  li
    list-style: none
    padding: 0 0 1em 0
    margin-bottom: 1em
    border-bottom: solid 0.1em #ccc
    width: 100%

    .event-icon, .event-description
      float: left

    .event-icon
      clear: both
      padding-right: 1.2rem

      i
        font-size: 3rem
        line-height: 1em


    .event-description
      vertical-align: top

      h3
        padding-top: 0
        margin-top: 0

      p
        margin: 1rem 0 0 0