#faqs-wrapper
  & > p
    margin-bottom: -1em

  h3
    padding-bottom: 0.2em
    border-bottom: solid 0.15em #ccc
    margin-top: 1.5em

  h4
    margin-top: 1.3em
    margin-bottom: 0.5em

    i
      font-size: 2em

  hr
    margin-bottom: 0em

  li.no-faqs
    @include flash($notice-color)
    margin-top: 1em
    padding: 1em 1em 0.2em 1em

#faq-page-list
  li
    list-style: none

    a
      display: inline-block
      border: solid 0.1em #000