{% extends 'base.html' %}

{% block content %}
    <h1>Contact us</h1>
    <p>You can either message us on Facebook or use the form below to get-in-touch.</p>
    <form action="{% url 'contact_us' %}" method="post">
        {% csrf_token %}
        <ul>
            <li class="field">
                <label for="full_name">Full name:</label>
                <input type="text" id="full_name" name="full_name" value="" class="wide text input"
                       placeholder="Your full name">
            </li>
            <li class="field">
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" value="" class="wide email input"
                       placeholder="Your email address">
            </li>
            <li class="field">
                <label for="message">Message:</label>
                <textarea id="message" name="message" class="wide textarea input"
                          placeholder="Your message"></textarea>
            </li>
            <li>
                <div class="medium pretty primary btn">
                    <input type="submit" value="Send Message">
                </div>
            </li>
        </ul>
    </form>
{% endblock %}