{% extends "base.html" %}

{% block content %}
    <div id="wrapper">
        <div id="header">
            <div>
                <div id="logo">
                    <img src="{{ STATIC_URL }}images/header.png" alt="Leeds University Skydivers"
                         title="Leeds University Skydivers">
                </div>

                <div id="menu">
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Why skydive?</a></li>
                        <li><a href="#">Learn to skydive</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="content">
            <div>
                <h2>Title</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at autem corporis dolorum fugiat
                    inventore, iure libero molestiae natus officia quaerat quas quis quo, ratione tempora temporibus
                    totam
                    velit voluptatibus.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur beatae cum deserunt
                    doloribus enim, expedita pariatur quam quisquam, repellat repudiandae tempore, veniam vitae?
                    Accusamus
                    atque aut ex impedit quo?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, debitis doloribus ex harum id in
                    mollitia nesciunt placeat porro quam quia quisquam repellat tempore! Blanditiis facere inventore
                    placeat
                    quos vel.</p>

                <h2>Another title</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis eaque perspiciatis quasi
                    quo
                    repellat sunt. Exercitationem labore nisi quae repellendus. Asperiores enim expedita explicabo
                    facere
                    illo nostrum quo unde.</p>
            </div>
        </div>

        <div id="footer">
            <div>
                <p>
                    Copyright &copy;{% now "Y" %} Leeds University Skydivers. Designed &amp; built by <a
                        href="http://jsherz.com">jSherz</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}