{% extends 'base.html' %}

{% block content %}
    <h1>Learning to skydive</h1>
    <p>There are two ways that you can become a qualified skydiver. The first is a static-line course and the second is
        an accelerated freefall course.</p>
    <h2>Static-line course</h2>
    <p>The RAPS (Ram Air Progression) course starts with jumps from 3,500ft in which your parachute opens automatically
        via a static line attached to the plane. You then fly your parachute safely to the ground under instruction via
        radio.</p>
    <p>After 5 static line jumps you progress to freefall where you deploy your own parachute and start to learn
        freefall skills such as turns. On each jump you spend more time in freefall jumping from increasing altitudes
        until you reach the max altitude of 13,500ft which gives you around a minute of freefall.</p>
    <p>You can be a licensed skydiver in a minimum of 18 jumps, and then you can skydive solo without an instructor!</p>
    <p>RAPS first jump courses consist of eight hours ground school and includes two jumps, the cost is £175. Every jump
        after that is only £36.</p>
    <h2>Accelerated freefall course</h2>
    <p>The accelerated freefall course (or AFF) starts with jumps at the max altitude (13,500ft). You begin by jumping
        with two instructors who hold onto you throughout the skydive and can give you signals to correct your body
        position while you work on staying stable in the air and practice deploying your parachute.</p>
    <p>As you progress through the levels of AFF, you work on more freefall skills including turns, tracking (fast
        forward movement) and backloops. After the first three levels, you then only jump with one instructor and then
        level 8 is a 'hop and pop' jump in which you leave the plane solo (at about 6000ft) and deploy your parachute
        immediately.</p>
    <p>Once you've completed the eight levels of AFF you are then required to make 10 consolidation jumps, or consols,
        in which you can practice the freefall skills you've learned. Once you've completed these and some canopy
        control exercises, you are then given an 'A' licence - allowing you to jump solo without an instructor.</p>
    <h2>Which option is right for me?</h2>
    <p>The biggest decider for most people is cost and out of the two (providing that you don't have to repeat levels),
        the RAPS course is the cheaper option.</p>
{% endblock %}