{% extends 'base.html' %}

{% block content %}
    <h1>Learning to skydive</h1>
    <p>There are two ways that you can become a qualified skydiver. The first is a static-line course and the second is
        an accelerated freefall course.</p>
    <h2>Static-line course</h2>
    <p>They chuck you out low, you arch thousand, you qualify.</p>
    <h2>Accelerate freefall course</h2>
    <p>You don't fall any faster, it's just a rapid method of learning.</p>
    <h2>Which option is right for me?</h2>
    <p>AFF. Always AFF.</p>
{% endblock %}