body
  overflow-y: scroll
  background: url(bg-tile.png) repeat fixed

// General page structure
#header, #navbar, #content, #footer
  @include outer-container

#navbar #content, #footer
  & > div
    @include span-columns(12)

// Header
#header
  margin-top: 1em
  margin-bottom: 1em

#header-logo
  @include span-columns(5)

  img
    width: 100%

#header-title
  @include span-columns(7)

  h1
    font-size: 6.8rem
    line-height: 0.8em
    font-family: 'Leckerli One', cursive
    font-weight: 300
    text-align: center
    margin-top: 0

    .lu
      font-size: 0.6em
      line-height: 0.9em

// Navigation
#navbar
  