body
  overflow-y: scroll
  background: url(bg-tile.png) repeat fixed

// General page structure
#header, #navbar, #content, #footer
  @include outer-container

#navbar #content, #footer
  & > div
    @include span-columns(12)

// Header
#header
  margin-top: 1em
  margin-bottom: 1em

#header-logo
  @include span-columns(5)

  img
    width: 100%

#header-title
  @include span-columns(7)

  h1
    font-size: 6.8rem
    line-height: 0.8em
    font-family: 'Leckerli One', cursive
    font-weight: 300
    text-align: center
    margin-top: 0

    .lu
      font-size: 0.6em
      line-height: 0.9em

// Navigation
#navbar
  ul
    padding: 0 0 0 0
    background: #fff
    border: solid 0.1em $lsd_blue

  li
    display: inline-block
    list-style: none
    padding: 0
    margin: 0 0.2em

    a
      font-family: 'Patrick Hand SC'
      letter-spacing: 0.05em
      font-size: 1.2rem
      padding: 1em 1em
      display: block
      color: darken($lsd_blue, 10%)
      text-decoration: none
      border-right

      &:hover
        text-decoration: underline
        background: #eee