// Reset, mixins & grid styling
@import 'normalize'
@import 'bourbon'
@import 'bitters/base'
@import 'neat'

// Fontawesome icons
@import 'fontawesome/font-awesome'

// Settings
$lsd_blue: #009dd9
$lsd_yellow: #fdda00
$lsd_red: #ea0005

$facebook-blue: #3b5999
$twitter-blue: rgb(85, 172, 238)

// Custom font
@import url('http://fonts.googleapis.com/css?family=Leckerli+One|Patrick+Hand+SC|Bangers')

// Base page styles
@import 'custom'

// Modules / pages
@import 'modules/frontpage'
@import 'modules/events'
@import 'modules/faqs'
@import 'modules/members'
@import 'modules/about'
@import 'modules/packages'