%h2
  Get in touch

#contact
  There are
  %strong
    LOADS
  of ways to get in touch with us:

  %dl
    %dt
      = link_to 'Facebook group', 'https://www.facebook.com/groups/shockabrah/'
    %dd
      Join our group and a member of the committee should message you letting you know about how to get involved with the club. Make sure that you check your
      %strong
        'Other'
      folder as that's where it will most likely end up! Post in the group or message a member of the committee (see the list on the right).

    %dt
      = link_to 'Twitter', 'https://twitter.com/LeedsSkyDivers'
    %dd
      Tweet us a question!

    %dt
      = link_to 'Facebook page', 'https://www.facebook.com/leedsuniskydivers'
    %dd
      Like our page then send us a message.

    %dt
      = link_to 'E-mail', 'mailto:leedsuniskydivers@example.org'
    %dd
      If nothing above works for you, send us an e-mail.