#intro-snippet
  %p
    = link_to 'Join us now', 'http://www.leedsuniversityunion.org.uk/groups/skydiving/'
    and start skydiving for just £175!

#frontpage-video
  #frontpage-video-wrapper
    %iframe{src: '//player.vimeo.com/video/65379442?badge=0&title=0&color=ffffff&byline=0&autoplay=1', frameborder: '0', webkitallowfullscreen: '', mozallowfullscreen: '', allowfullscreen: ''}