#intro-snippet
  %p
    = link_to 'Join us now', '#'
    for exclusive freshers deals!!! OMGZ #skydiving

#frontpage-video
  #frontpage-video-wrapper
    %iframe{src: '//player.vimeo.com/video/65379442?badge=0&title=0&color=ffffff&byline=0', frameborder: '0', webkitallowfullscreen: '', mozallowfullscreen: '', allowfullscreen: ''}