#members
  %h2 Committee

  %p
    We're the guys & gals that are here to get you in the air! Need to get in touch?
    = link_to 'Contact us.', contact_url

  %ul#committee-list
    - @committee.each do |committee_member|
      %li
        = image_tag image_url(committee_member.image.url), title: committee_member.name, alt: committee_member.name
        
        %h3
          = committee_member.name
        %p.role
          = committee_member.role